# Add your pinned requirements so that they can be easily installed with:
# pip install -r requirements.txt
# Remember to also add them in setup.cfg but unpinned.

Flask==1.0.2
gunicorn==19.9.0
ipython==7.5.0
jupyter==1.0.0
matplotlib==3.0.3
notebook==5.7.8
numpy==1.16.3
onnx=1.5.0
onnx-tf==1.1.2
pandas==0.24.2
requests==2.21.0
scikit-image==0.15.0
scipy==1.2.1
tensorflow==1.9.0
torch==1.1.0
torchvision==0.2.2






