# Add your pinned requirements so that they can be easily installed with:
# pip install -r requirements.txt
# Remember to also add them in setup.cfg but unpinned.

Flask==1.0.2
gunicorn==19.9.0
ipython==6.5.0
jupyter==1.0.0
matplotlib==2.2.2
notebook==5.7.4
numpy==1.15.0
onnx=1.1.2
onnx-tf==1.1.2
pandas==0.23.3
requests==2.21.0
scikit-image==0.14.0
scipy==1.1.0
tensorflow==1.9.0
torch==0.4.1
torchvision==0.2.1






